@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 localize-content>@ViewData["Title"]</h1>
    <p localize-content>You have successfully logged out of the application.</p>
</header>