@model LazZiya.ExpressLocalization.UI.Areas.ExpressLocalization.Models.TranslationItemModel
@{
    var dropDownDir = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "dropright" : "dropleft";
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var urlPath = ViewContext.HttpContext.Request.QueryString.Value;
    var returnUrl = $"{routeUrl}{urlPath}";
}

<!-- Translation options -->
<div class="btn-group @(dropDownDir)">
    <button type="button" class="btn btn-light border-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="@Url.Page("/Translations/Index", new { resourceID=Model.KeyID, targetCulture=Model.CultureID, returnUrl=returnUrl })">
            <i class="fas fa-language"></i>
            <localize>Edit</localize>
        </a>
    </div>
</div>