@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" localize-content>Welcome</h1>
    <p localize-args="@(new[]{"https://docs.microsoft.com/aspnet/core"})">Learn about <a href="{0}">building Web apps with ASP.NET Core</a>.</p>
</div>