@page
@model LazZiya.ExpressLocalization.DB.UI.ExpressLocalization.Pages.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
</body>
</html>
